<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fertilizer - agro favor</title>
    <style>
    body{
        text-align: center;
        color: black;
        background-color: #fff;
        margin: 0;
        padding: 0;
    }
        .top{
            overflow: hidden;
            background-color: antiquewhite;
        }
        .top .bar{
            float: left;
            padding: 2vw;
            font-size: 4vw;
        }
        .top .bar:hover{
            color: #fff;
        }
        .top .right{
            float: right;
            position: relative;
        }
    </style>
</head>
<body>
    <div class="top">
        <div class="bar" onclick="window.location.href = '/home'">Home</div>
        <div class="bar"></div>
        <div class="bar right">menu</div>
    </div>
    <h2>E.M கரைசல் தயாரித்தலில் 2 முறைகள் 🌾Effective Microorganisms Techniques 🌱X.Brittoraj🌱</h2>
    <p align="center"><iframe src="https://www.youtube.com/embed/s7AJ6nXRY04?si=UeUR9UuZGEi2dl7A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
    <h2>மழைக்காலங்களில் இயற்கை இடுபொருட்கள் கொடுக்கும் முறை 9944450552</h2>
    <p align="center"><iframe src="https://www.youtube.com/embed/RpH7noD2Yes?si=7ddYclF3pXBMFiu4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
    <h2>மீன் அமிலத்துடன் எருக்கு கரைசலை கலந்து தெளிக்கலாமா? என்ன விளைவு ஏற்படும்? 9944450552</h2>
    <p align="center"><iframe src="https://www.youtube.com/embed/Y_QmqofNnGA?si=xZHdJUwEfzN0XsFR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
    </p>
</body>
</html>
